<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>e-Tourist Audio Guide</title>
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons -->
	<link href="assets/img/favicon.png" rel="icon">
	<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

	<!-- Google Fonts -->
	

	<!-- Vendor CSS Files -->
	<link href="/assets/landing/aos.css" rel="stylesheet">
	<link href="/assets/landing/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/landing/bootstrap-icons.css" rel="stylesheet">
	<link href="/assets/landing/boxicons.min.css" rel="stylesheet">
	<link href="/assets/landing/glightbox.min.css" rel="stylesheet">
	<link href="/assets/landing/remixicon.css" rel="stylesheet">
	<link href="/assets/landing/swiper-bundle.min.css" rel="stylesheet">
	<link href="/assets/landing/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link href="/assets/css/style.css" rel="stylesheet">

